.header {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
}
.name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}
.contact{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14;
    font-style: oblique;
    margin-top: 0;
}
.body {
    font-family:'Century Gothic' Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.top-line {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.dates {
    margin: 0;
}
p {
    margin: 1;
}
footer {
    margin-top: 20px;
    margin-left: 5px;
}